@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import "~bootstrap/scss/bootstrap";

h1 {
  font-size: 1.5rem;
  @include media-breakpoint-up(lg) {
    font-size: 5rem;
  }
}